@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #f3f4f6;
    --foreground: #171717;
}

@theme {
    --color-primary: oklch(0.6 0.22 257.21);
    --color-neutral: oklch(55.1% 0.027 264.364);
    --color-dark-primary: oklch(33.377% 0.06173 222.11);
    --color-light-primary: #8c9faf;
}

@layer utilities {
}
@keyframes pop-blob {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.2);
    }
    66% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #36393e;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.animate-pop-blob {
    animation: pop-blob 5s infinite;
}
